/* Styles for our header */
header { background: #eee8d5; padding: 1.25rem; }
header h1 { font-size: 1.25rem; line-height: 1.25rem; margin: 0; }
header nav { margin: 0; }

@media (min-width: 62.5rem) {
    /* If the page is wide enough, scoot the header off to the side. */
    header {
        float: left;
        margin-left: -13.75rem;
        width: 10rem;
    }
    /*
     * Typesetter.css tries to do the same trick specifically for <nav>, so
     * we've got to override all those settings here.
     */
    header nav { float: none; outline: none; padding: 0; width: auto; }
    header nav ul { margin-bottom: 0; }
}

/* Styles for TOC links */
.headerlink { visibility: hidden; text-decoration: none; }
*:hover>.headerlink { visibility: visible }

/* Styles for Pygments syntax highlighting */
.codehilite { margin-left: 0; width: 100%; }

.codehilite .linenodiv { margin: 0; }

.codehilite .linenos { width: 1.25rem; text-align: right; }

.codehilite pre { margin: 0; padding: 0; border: none; }
.codehilite .linenos pre { font-family: sans-serif; }

/* Comments and docstrings */
.codehilite .c,
.codehilite .c1,
.codehilite .sd {
    color: #93a1a1;
}
/* Keyword */
.codehilite .k { font-weight: bold; }
/* Literals */
.codehilite .s,
.codehilite .s1,
.codehilite .s2,
.codehilite .si,
.codehilite .mi,
.codehilite .mf,
.codehilite .mo {
    color: #d33682;
}
/* Formatting codes and escapes. */
.codehilite .si,
.codehilite .se {
    font-style: italic;
}

/* Operators and punctuation */
.codehilite .o,
.codehilite .p {
    color: #575;
}

figure { text-align: center; }
figure img { max-width: 100%; }
/*! normalize.css 2012-01-31T16:06 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) {
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 * Fix IE6/7 heading font-size not being relative to the root font-size
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Typesetter.css Ⓒ2012 Timothy Allen | https://gitorious.org/typesetter-css/ */
html {
  background: #fdf6e3;
  color: #657b83;
}
:link {
  color: #268bd2;
}
:link:hover,
:visited:hover {
  background: #eee8d5;
}
:visited {
  color: #6c71c4;
}
:link:active,
:visited:active {
  color: #dc322f;
}
blockquote {
  /*
     * This overflow setting prevents the margins on blockquote's contents from
     * collapsing with blockquote's siblings, which means our border and
     * background will be nicely separate.
     */

  overflow: hidden;
  background: #eee8d5;
}
tr:nth-child(4n),
tr:nth-child(4n-1) {
  background: #eee8d5;
}
@import "normalize.css";
@import "typesetter-layout.css";
@import "typesetter-colour.css";
/* Typesetter.css Ⓒ2012 Timothy Allen | https://gitorious.org/typesetter-css/ */
html {
  font-size: 1em;
  line-height: 1.25rem;
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
body {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25rem 0;
}
h1 {
  font-size: 2.5rem;
  line-height: 3.75rem;
  text-align: center;
}
h2 {
  font-size: 1.875rem;
  line-height: 1.25rem;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.25rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
h5 {
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
h6 {
  font-size: 0.625rem;
  line-height: 1.25rem;
}
h2,
h3 {
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.125rem solid;
}
p,
div,
ul,
ol,
blockquote,
address,
table,
pre {
  margin: 1.25rem 0;
}
li p:first-child,
dd p:first-child {
  margin-top: 0;
}
li p:last-child,
dt p:last-child {
  margin-bottom: 0;
}
p + p {
  text-indent: 1.25rem;
}
ul,
ol {
  padding-left: 0;
  margin-left: 2.5rem;
}
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}
dt {
  font-weight: bolder;
  margin-top: 1.25rem;
}
dd {
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}
blockquote {
  padding: 0 1.25rem;
}
table {
  margin-left: auto;
  margin-right: auto;
}
thead {
  border-bottom: 0.125rem solid currentColor;
}
tfoot {
  border-top: 0.125rem solid currentColor;
}
thead th,
tfoot th,
thead td,
tfoot td {
  line-height: 1.125rem;
}
td,
th {
  font-size: 0.75rem;
  padding: 0 0.625rem;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
pre {
  padding: 1.25rem 0;
  border-left: 0.125rem solid;
  padding-left: 1.125rem;
  font-size: 0.75rem;
}
hr {
  color: inherit;
  margin: 1.25rem 0;
  margin-top: -0.125rem;
  padding: 0;
  border: none;
  border-top: 0.125rem solid;
  height: 0;
}
aside,
nav {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
aside h1,
nav h1 {
  line-height: 1.25rem;
}
aside h1,
nav h1 {
  font-size: 1rem;
}
aside h2,
nav h2 {
  font-size: 0.875rem;
}
aside h3,
nav h3 {
  font-size: 0.750rem;
}
aside h2,
nav h2,
aside h3,
nav h3 {
  line-height: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.125rem;
  border-bottom: 0.125rem solid;
}
/* By default, navigation should appear inline */
nav {
  text-align: center;
  /* Flatten the navigation hierarchy */

  /* Use vertical bars to separate each item. */

}
nav ul {
  margin-left: 0;
}
nav ul,
nav li {
  display: inline;
}
nav ul li:first-child:before {
  content: '';
}
nav ul li:before {
  content: ' | ';
}
nav ul ul:before {
  content: ' | ';
}
/*
 * By default, asides should appear inline, but narrower because they have
 * a smaller font size.
 */
aside {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}
/* If we have sufficient width to put stuff on the sides... */
@media (min-width: 62.5rem) {
  aside,
  nav {
    margin: 1.25rem;
    margin-top: 0;
    padding: 0 1.25rem;
    outline: 0.125rem solid;
    width: 10rem;
  }
  aside {
    clear: right;
    float: right;
    margin-right: -13.75rem;
  }
  nav {
    text-align: left;
    clear: left;
    float: left;
    margin-left: -13.75rem;
    /* Now we have room to display the hierarchy */
  
  }
  nav ul,
  nav li {
    display: block;
  }
  nav ul ul {
    margin-left: 1.25rem;
  }
  nav ul li:before {
    content: '';
  }
  nav ul ul:before {
    content: '';
  }
}
/* Special support for footnotes from Pandoc */
div.footnotes {
  font-size: 0.75rem;
}
